#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=thePackage Updater
Comment=System Software Updates
Exec=thepackage -u
Icon=system-software-update
Categories=System
