#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=thePackage
Comment=Package Manager
GenericName=Package Manager
Exec=thepackage
Icon=muon
Categories=System
