#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=thePackage Updater
Comment=System Updates
GenericName=System Updates
Exec=thepackage -u
Icon=system-software-update
Categories=System
